include AUTHORS
include LICENSE
include README.rst
include HISTORY
recursive-include ripiu/cmsplugin_fup/migrations *
recursive-include ripiu/cmsplugin_fup/templates *
recursive-include ripiu/cmsplugin_fup/static *
recursive-include ripiu/cmsplugin_fup/locale *