.fup-item > img,
.fup-item > video {
  display: block;
}

.fup-item > img,
.fup-item > video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.fup-item {
  position: fixed;
  /*visibility: hidden;*/
  pointer-events: none;
  overflow: hidden;
  transition: top    .3s linear,
              right  .3s linear,
              bottom .3s linear,
              left   .3s linear;
}

.fup > input {
  display: none;
}

.fup > input:checked + .fup-item {
  visibility: visible;
}
